{% import "@Contao/backend/file_manager/layout.html.twig" as util %}

<nav>
    <ol>
        {% for path, name in address %}
            {% set item_attrs = attrs()
                .set('href', path('_contao_file_manager_navigate', {path}))
                .set('data-item', path)
                .set('data-droppable')
            %}
            <li><a{{ item_attrs }}>{{ name }}</a></li>
        {% endfor %}
    </ol>
</nav>
