{% import "@Contao/backend/file_manager/layout.html.twig" as util %}

<turbo-frame id="file-manager--address">
    <nav>
        <ol>
            {% for path, name in address %}
                <li><a href="{{ util.nav(path) }}">{{ name }}</a></li>
            {% endfor %}
        </ol>
    </nav>
</turbo-frame>
