{% import "@Contao/backend/file_manager/layout.html.twig" as util %}

{% macro tree_node(tree, prefix='') %}
    <ol>
        {% for name, children in tree %}
            <li>
                <a href="{{ util.nav(prefix ~ name) }}">
                    <div class="icon icon--directory"></div>
                    <span>{{ name }}</span>
                </a>
                {% if children %}
                    {{ _self.tree_node(children, prefix ~ name ~ '/') }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

<turbo-frame id="file-manager--tree">
    <nav>
        {{ _self.tree_node(tree) }}
    </nav>
</turbo-frame>
