#file-manager {
    .operation {
        &.operation--view_upload {
            background-image: url("../../../contao/themes/flexible/icons/new.svg");
        }

        &.operation--elements_delete {
            background-image: url("../../../contao/themes/flexible/icons/delete.svg");
        }

        &.operation--elements_edit {
            background-image: url("../../../contao/themes/flexible/icons/edit.svg");
        }
    }
}
