.badges {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 4px;
    font-size: .6rem;
    line-height: 1.5;

    .badge {
        color: var(--info);
        background-color: var(--info-bg);
        display: inline-flex;
        border-radius: 4px;
        padding: 2px 6px;
    }
}
